<!-- Todas as informacoes adicionadas nesta página vão ficar presentes no <head> da página HTML-->


<!-- Dados estruturados JSON-LD para SEO -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Folia de Reis dos Ferreira",
  "alternateName": "Terno de Reis da Família Ferreira",
  "description": "Folia de Reis da Família Ferreira, tradição desde 1952 no distrito de São Joaquim, Januária, Minas Gerais. Preservando a cultura e os cantos da Folia de Reis.",
  "url": "https://foliadereisdosferreiras.com.br",
  "logo": "https://foliadereisdosferreiras.com.br/assets/images/logo-folia-topo-site.svg",
  "image": "https://foliadereisdosferreiras.com.br/assets/images/logo-folia.png",
  "foundingDate": "1952",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Januária",
    "addressRegion": "MG",
    "addressCountry": "BR"
  },
  "sameAs": [
    "https://www.instagram.com/foliadosferreira/",
    "https://www.youtube.com/@FOLIADOSFERREIRA",
    "https://www.facebook.com/people/Folia-de-reis-dos-Ferreira-Januária-MG/100080397293890/",
    "https://github.com/anthonylgf/folia-dos-ferreira"
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Folia de Reis dos Ferreira",
  "url": "https://foliadereisdosferreiras.com.br",
  "description": "Site oficial da Folia de Reis da Família Ferreira de Januária, MG. História, imperadores, cantos e tabelas do terno de Reis.",
  "inLanguage": "pt-BR"
}
</script>

{% seo %}
