---
layout: splash
title: "Folia de Reis dos Ferreira"
description: "Site oficial da Folia de Reis da Família Ferreira. Conheça a história, imperadores, cantos e tabelas do terno de Reis de São Joaquim, Januária, Minas Gerais."
permalink: /
hidden: true
header:
  overlay_color: "#0d1f6e"
  overlay_image: /assets/images/logo-folia.png
excerpt: >
  Desde 1952 com muita devoção e tradição!
feature_row:
  - image_path: /assets/images/logo-instagram.png
    alt: "instagram"
    title: "Instagram"
    excerpt: "Siga nossa página do Instagram e acompanhe as novidades"
    url: "https://www.instagram.com/foliadosferreira/"
    btn_class: "btn--primary"
    btn_label: "Entrar na página"
  - image_path: /assets/images/logo-youtube.png
    alt: "youtube"
    title: "Youtube"
    excerpt: "Siga nosso canal do Youtube e veja os vídeos mais recentes"
    url: "https://www.youtube.com/@FOLIADOSFERREIRA"
    btn_class: "btn--primary"
    btn_label: "Entrar no canal"
  - image_path: /assets/images/logo-facebook.png
    alt: "facebook"
    title: "Facebook"
    excerpt: "Siga a página da folia no Facebook e acompanhe as novidades"
    url: "https://www.facebook.com/people/Folia-de-reis-dos-Ferreira-Januária-MG/100080397293890/?sk=reels_tab"
    btn_class: "btn--primary"
    btn_label: "Veja a página"
feature_row_2:
  - image_path: /assets/images/icone-timeline.png
    alt: "linha do tempo"
    title: "Linha do Tempo"
    excerpt: "Histórico dos imperadores da folia durante os anos"
    url: "/linha-do-tempo"
    btn_class: "btn--primary"
    btn_label: "Confira aqui"
feature_row_3:
  - image_path: /assets/images/icone-livro.png
    alt: "tabelas"
    title: "Tabelas"
    excerpt: "Aprenda as tabelas dos reis da nossa folia"
    url: "/lista-tabelas"
    btn_class: "btn--primary"
    btn_label: "Confira aqui"
---

{% include feature_row %}

{% include feature_row id="feature_row_2" type="center" %}

{% include feature_row id="feature_row_3" type="center" %}
